## Кривоногов Н.В., NLP, практическое задание № 1

Осуществим предобработку данных с Твиттера, чтобы очищенные данные в дальнейшем
использовать для задачи классификации. Данный датасет содержит негативные (label = 1)
и нейтральные (label = 0) высказывания. Для работы объединим train_df и test_df.
Задания:
1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим
функцию:
● для того, чтобы найти все вхождения паттерна в тексте, необходимо
использовать re.findall(pattern, input_txt)
● для для замены @user на пробел, необходимо использовать re.sub()
2. Изменим регистр твитов на нижний с помощью .lower().
3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя
apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в
тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в
качестве ключа (сокращенного слова), то заменить ключ на значение (полную
версию слова).
4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого
воспользуемся функцией, используемой в предыдущем пункте.
5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict.
Для этого воспользуемся функцией, используемой в предыдущем пункте.
6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.
7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.
8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.
9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if
len(w)>1]).
10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый
столбец 'tweet_token'.
11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец
'tweet_token_filtered' без стоп-слов.
12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим
столбец 'tweet_stemmed' после применения стемминга.
13. Применим лемматизацию к токенам с помощью
nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после
применения лемматизации.
14. Сохраним результат предобработки в pickle-файл.

In [1]:
import pandas as pd
import re
import pickle

from nltk.tokenize import word_tokenize
from nltk import tokenize as tknz
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nick1\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nick1\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nick1\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\nick1\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [2]:
train_df = pd.read_csv('train_tweets.csv')

train_df

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [3]:
test_df = pd.read_csv('test_tweets.csv')

test_df

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [4]:
df = pd.concat([train_df, test_df], axis=0)

df

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [5]:
pattern = "@[\w]*"
input_txt = str(df['tweet'])

re.findall(pattern, input_txt)

['@user', '@user', '@user']

In [6]:
df['tweet'] = df['tweet'].apply(lambda x: re.sub("@[\w]*", ' ', x, count=0))

df

          id  label                                              tweet
0          1    0.0     when a father is dysfunctional and is so se...
1          2    0.0      thanks for #lyft credit i can't use cause ...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [7]:
df['tweet'] = df['tweet'].apply(lambda x: x.lower())

df

          id  label                                              tweet
0          1    0.0     when a father is dysfunctional and is so se...
1          2    0.0      thanks for #lyft credit i can't use cause ...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [8]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [9]:
def apostrophe(text):
    return ' '.join([word if (word not in apostrophe_dict.keys()) else apostrophe_dict[word] for word in text.split()])

In [10]:
df['tweet'] = df['tweet'].apply(apostrophe)

df

          id  label                                              tweet
0          1    0.0  when a father is dysfunctional and is so selfi...
1          2    0.0  thanks for #lyft credit i cannot use cause the...
2          3    0.0                                bihday your majesty
3          4    0.0  #model i love u take with u all the time in ur...
4          5    0.0                factsguide: society now #motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my song "so glad" free download! #shoegaze #ne...

[49159 rows x 3 columns]

In [11]:
def shorts(text):
    return ' '.join([word if (word not in short_word_dict.keys()) else short_word_dict[word] for word in text.split()])

In [12]:
df['tweet'] = df['tweet'].apply(shorts)

df

          id  label                                              tweet
0          1    0.0  when a father is dysfunctional and is so selfi...
1          2    0.0  thanks for #lyft credit i cannot use cause the...
2          3    0.0                                bihday your majesty
3          4    0.0  #model i love you take with you all the time i...
4          5    0.0                factsguide: society now #motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my song "so glad" free download! #shoegaze #ne...

[49159 rows x 3 columns]

In [13]:
def emoticon(text):
    return ' '.join([word if (word not in emoticon_dict.keys()) else emoticon_dict[word] for word in text.split()])

In [14]:
df['tweet'] = df['tweet'].apply(emoticon)

df

          id  label                                              tweet
0          1    0.0  when a father is dysfunctional and is so selfi...
1          2    0.0  thanks for #lyft credit i cannot use cause the...
2          3    0.0                                bihday your majesty
3          4    0.0  #model i love you take with you all the time i...
4          5    0.0                factsguide: society now #motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my song "so glad" free download! #shoegaze #ne...

[49159 rows x 3 columns]

In [15]:
df['tweet'] = df['tweet'].apply(lambda x: re.sub(r'[^\w\s]', ' ', x))

df

          id  label                                              tweet
0          1    0.0  when a father is dysfunctional and is so selfi...
1          2    0.0  thanks for  lyft credit i cannot use cause the...
2          3    0.0                                bihday your majesty
3          4    0.0   model i love you take with you all the time i...
4          5    0.0                factsguide  society now  motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory  left right polarisation   tru...
17193  49156    NaN  feeling like a mermaid ð     hairflip  neverre...
17194  49157    NaN   hillary  campaigned today in  ohio  omg    am...
17195  49158    NaN  happy  at work conference  right mindset leads...
17196  49159    NaN  my song  so glad  free download   shoegaze  ne...

[49159 rows x 3 columns]

In [16]:
df['tweet'] = df['tweet'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]', ' ', x))

df

          id  label                                              tweet
0          1    0.0  when a father is dysfunctional and is so selfi...
1          2    0.0  thanks for  lyft credit i cannot use cause the...
2          3    0.0                                bihday your majesty
3          4    0.0   model i love you take with you all the time i...
4          5    0.0                factsguide  society now  motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory  left right polarisation   tru...
17193  49156    NaN  feeling like a mermaid       hairflip  neverre...
17194  49157    NaN   hillary  campaigned today in  ohio  omg    am...
17195  49158    NaN  happy  at work conference  right mindset leads...
17196  49159    NaN  my song  so glad  free download   shoegaze  ne...

[49159 rows x 3 columns]

In [17]:
df['tweet'] = df['tweet'].apply(lambda x: re.sub(r'[^a-zA-Z]', ' ', x))

df

          id  label                                              tweet
0          1    0.0  when a father is dysfunctional and is so selfi...
1          2    0.0  thanks for  lyft credit i cannot use cause the...
2          3    0.0                                bihday your majesty
3          4    0.0   model i love you take with you all the time i...
4          5    0.0                factsguide  society now  motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory  left right polarisation   tru...
17193  49156    NaN  feeling like a mermaid       hairflip  neverre...
17194  49157    NaN   hillary  campaigned today in  ohio  omg    am...
17195  49158    NaN  happy  at work conference  right mindset leads...
17196  49159    NaN  my song  so glad  free download   shoegaze  ne...

[49159 rows x 3 columns]

In [18]:
df['tweet'] = df['tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w) > 1]))

df

          id  label                                              tweet
0          1    0.0  when father is dysfunctional and is so selfish...
1          2    0.0  thanks for lyft credit cannot use cause they d...
2          3    0.0                                bihday your majesty
3          4    0.0    model love you take with you all the time in ur
4          5    0.0                  factsguide society now motivation
...      ...    ...                                                ...
17192  49155    NaN  thought factory left right polarisation trump ...
17193  49156    NaN  feeling like mermaid hairflip neverready forma...
17194  49157    NaN  hillary campaigned today in ohio omg amp used ...
17195  49158    NaN  happy at work conference right mindset leads t...
17196  49159    NaN  my song so glad free download shoegaze newmusi...

[49159 rows x 3 columns]

In [19]:
df['tweet_token'] = df['tweet'].apply(lambda x: tknz.word_tokenize(x))

df

,id,label,tweet,tweet_token
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ..."
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]"
...,...,...,...,...
17192,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ..."
17193,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,..."
17194,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am..."
17195,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ..."
17196,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,..."

In [20]:
stop_words = set(stopwords.words("english"))

df['tweet_token_filtered'] = df['tweet_token'].apply(lambda x: [word for word in x if not word in stop_words])

df

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"
...,...,...,...,...,...
17192,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ..."
17193,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,..."
17194,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am...","[hillary, campaigned, today, ohio, omg, amp, u..."
17195,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead..."
17196,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi..."

In [21]:
stemmer = PorterStemmer()

df['tweet_stemmed'] = df['tweet_token_filtered'].apply(lambda x: [stemmer.stem(token) for token in x])

df

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"
...,...,...,...,...,...,...
17192,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump..."
17193,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo..."
17194,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am...","[hillary, campaigned, today, ohio, omg, amp, u...","[hillari, campaign, today, ohio, omg, amp, use..."
17195,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead...","[happi, work, confer, right, mindset, lead, cu..."
17196,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi...","[song, glad, free, download, shoegaz, newmus, ..."

In [22]:
lemmatizer = WordNetLemmatizer()

df['tweet_lemmatized'] = df['tweet_token_filtered'].apply(lambda x: [lemmatizer.lemmatize(token) for token in x])

df

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"
...,...,...,...,...,...,...,...
17192,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump...","[thought, factory, left, right, polarisation, ..."
17193,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo...","[feeling, like, mermaid, hairflip, neverready,..."
17194,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am...","[hillary, campaigned, today, ohio, omg, amp, u...","[hillari, campaign, today, ohio, omg, amp, use...","[hillary, campaigned, today, ohio, omg, amp, u..."
17195,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead...","[happi, work, confer, right, mindset, lead, cu...","[happy, work, conference, right, mindset, lead..."
17196,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi...","[song, glad, free, download, shoegaz, newmus, ...","[song, glad, free, download, shoegaze, newmusi..."

In [23]:
df.to_pickle('df_prepared.pickle')

In [24]:
# df_downloaded = pd.read_pickle('df_prepared.pickle')

# df_downloaded